@import './_partials/reset';
@import './_partials/variables';
@import './_partials/mixins';
@import'./_partials/animations';
@import './_partials/header';
@import './_partials/body';
@import './_partials/footer';
/****** General ***********/

 *{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #000;


}

h1,
h2 {
    font-size: 22px;
    color: #000;
}















/*footer*/
footer {
    display: block;
    background: $black;
    padding: 22px 25px;

    h3 {
        font-family: Shrikhand;
        font-weight: 400;
        color: $white;
        margin-bottom: 16px;

    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 7px;
        padding-left: 0;

    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 11px;
    }

    p,
    i,
    a {
        color: #FFF;
    }
}