/*animation loader*/
@keyframes disappear {

    to {
        transform: scale(0);
    }

}

@keyframes flash {
    0% {
        color: $color-primaire;
        text-shadow: 0 0 8px $color-secondaire;
    }

    90% {
        color: $color-primaire;
        text-shadow: none;
    }


    100% {
        color: $color-secondaire;
        text-shadow: 0 0 8px $color-secondaire;
        transform: translateY(-30px);
    }

}


/*animation apparition des plats*/

@keyframes apparition {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}